
@{
    ViewData["Title"] = "Index";

}

<h2>Index Admin</h2>

<div class="jumbotron">
    <h1>Hello, Administrator!</h1>
    <p>Sanctus laoreet takimata clita magna at sanctus diam sed lobortis ut dolor clita justo vero nulla sadipscing est cum accusam</p>
</div>