body {
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: indie;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar.navbar-inverse {
    background-color: #c64646;
    border-color: #c64646;
}

.btn.btn-primary {
    background-color: #177508;
    border-color: #177508;
}

    .btn.btn-primary:hover {
        background-color: rgba(23, 117, 8, 0.80);
    }

@font-face {
    font-family: 'indie';
    src: url('/fonts/IndieFlower.ttf');
}

.price {
    position: absolute;
    top: 100px;
    right: 30px;
    color: white;
    font-size: 3em;
    text-shadow: 0 0 1px black;
}

.thumbnail img {
    height: 150px;
}

.table img {
    width: 100px;
}

.pagination > li > a, .pagination > li > span {
    color: #177508;
}

.table > tbody > tr > td {
    line-height: 3em;
    font-size: 2em;
    color: #c64646;
}

.price-detail {
    color: #177508;
    font-size: 3em;
    text-shadow: 0 0 1px black;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fileinput-button{
    position:relative;
    overflow:hidden;
    display:inline-block;
}

.fileinput-button input{
    position:absolute;
    top:0;
    right : 0;
    margin : 0;
    opacity : 0;
    font-size : 200px !important;
    direction:ltr;
    cursor:pointer;
}