@model IEnumerable<DotNetPizza.Models.PizzaViewModel.PizzaViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Dot Net Pizza</h1>
    <p>Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli dare potuit isti suspicioni locum, fuit primum ipsius pudore, deinde etiam patris diligentia disciplinaque munita. Qui ut huic virilem togam deditšnihil dicam hoc loco de me; tantum sit, quantum vos existimatis; hoc dicam, hunc a patre continuo ad me esse deductum; nemo hunc M. Caelium in illo aetatis flore vidit nisi aut cum patre aut mecum aut in M. Crassi castissima domo, cum artibus honestissimis erudiretur.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">

    @foreach (PizzaViewModel pizza in Model)
    {
        Html.RenderPartial("CardPizzaPartial", pizza);
    }
</div>
@*@await Component.InvokeAsync("MyComponentViewComponent.MyComponent", "Test message externe")*@
@*@await Component.InvokeAsync("ConixComponents.Message", "MESSAGE Test message externe")*@
